<!DOCTYPE html>
<html>
<head>
  <title>Genre Identifier</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='input.css') }}">
</head>
<body>
  <h1 class="display-4" style="text-align: center;margin-top: 50px;"><i class="fa fa-microphone"></i> Genre Identifier  </h1><hr><br>
   <h4 class="display-5" style="text-align: center;">Upload an audio file of which you want to find the genre!</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fa fa-upload"></i> Upload the audio file.</h5>
            <form class="form-signin"  method="POST" enctype="multipart/form-data">
              <hr class="my-4">
             <input type="file" id="audio" name="audio" class="file">
                <input type="submit" class="submit">
              <hr class="my-4">
              <div class="result" style="text-align:center; font-size: 35px;">Genre: {{ genre }} Probability: {{ prob1 }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">2020 © <a href="{{url_for('about')}}" style="color: black;">IL DS PROJECT GROUP</a></span>
  </div>
</footer>
</body>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="input.js"></script>
</body>
</html>